<div id="public-poll" class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <h3>{{ poll.name }}</h3>
      <hr>
      {{#each poll.options as |option|}}
        <a href="/poll/{{ ../poll._id }}/option/{{@key}}">
          <button class="btn btn-default poll-button" type="button" name="button">
            {{ option }}
          </button>
          <br>
        </a>
      {{/each}}
      <hr>
    </div>
    <div class="col-xs-12 col-sm-6">
      <canvas id="pollChart"></canvas>
    </div>
  </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script type="text/javascript">
var ctx = document.getElementById('pollChart').getContext('2d');
var options = [
  {{#each poll.options as |option|}}
    "{{ option }}" {{#unless @last}}, {{/unless}}
  {{/each}}
];
var chart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: options,
    datasets: [{
      label: "My First dataset",
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: '#66499e',
      data: [{{{ poll.answers }}}],
    }]
  }
});
</script>
